MQTT_HOST=MQTT_BROKER_IP
MQTT_PORT=1883
MQTT_USER=CHANGE_ME
MQTT_PASS=CHANGE_ME

HAME_MAC_S04=AA:BB:CC:DD:EE:01
HAME_MAC_S05=AA:BB:CC:DD:EE:02
HAME_MAC_S06=AA:BB:CC:DD:EE:03

GARAGEPI_BASE=/opt/garagepi
HCI_DEVICE=hci1
